link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
script(type="text/javascript", src="/libs/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/libs/bootstrap/dist/js/bootstrap.min.js")
